{% extends 'index.html' %}

{% block content %}

    <div class="row">
      <div class="col-xs-4 col-md-3 col-lg-2 user-data">
        <span>4</span>
        Usuarios registrados
      </div>
    </div>

    <h2 class="divider">Usuarios</h2>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>UID</th>
            <th>Rol</th>
            <th>Nombres</th>
            <th>Correo Electrónico</th>
            <th>Saldo</th>
            <th colspan="2">Acciones</th>
          </tr>
        </thead>
        <tbody>
        {% for user in data %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.user_type }}</td>
          <td>{{ user.name }} {{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>${{ user.balance }} USD</td>
          <td>
            <a href="{{ URL }}users/update/{{ user.id }}" title="Editar"><i class="material-icons">mode_edit</i> Editar</a>
          </td>
          <td>
            {% if user.status == 1 %}
              <a href="{{ URL }}users/edit/{{ user.id }}" title="Desactivar"><i class="material-icons">lock_open</i> Desactivar</a>
            {% else %}
              <a href="{{ URL }}users/edit/{{ user.id }}" title="Activar"><i class="material-icons">lock_outline</i> Activar</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
{% endblock %}