{% extends 'index.html' %}

{% block title %} - Regístrate {% endblock %}

{% block bootstrap_material_design %} 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
{% endblock %}

{% block content %}
  <div class="full-height full-width green">
    <div class="container">
    <div class="row middle-xs large-top relative">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Regístrate</div>
                  <div class="panel-body">
                      <form class="form-horizontal" role="form" method="POST" action="">
                          <div class="form-group {% if data.email is not empty %} has-error {% endif %}">
                              <label for="email" class="col-md-4 control-label">Correo Electrónico</label>

                              <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="email" value="{{ post.email }}" required autofocus>
                                {% if data.email is not empty %}
                                  <span>
                                    <strong class="has-error">{{ data.email }}</strong>
                                  </span>
                                {% endif %}
                              </div>
                          </div>

                          <div class="form-group {% if data.no_match_passwords is not empty %} has-error {% endif %}">
                              <label for="password" class="col-md-4 control-label">Contraseña</label>
                              <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password" required>
                              </div>
                          </div>

                          <div class="form-group {% if data.no_match_passwords is not empty %} has-error {% endif %}">
                              <label for="password" class="col-md-4 control-label">Confirmar Contraseña</label>

                              <div class="col-md-6">
                                  <input id="password" type="password" class="form-control" name="confirm-password" required>
                                  {% if data.no_match_passwords is not empty %}
                                    <span>
                                      <strong class="has-error">{{ data.no_match_passwords }}</strong>
                                    </span>
                                  {% endif %}
                              </div>
                          </div>

                          <div class="col-md-6 col-md-offset-4">
                            <button type="submit" class="btn btn-primary text-transform-none" name="iniciar">
                                Regístrate
                            </button>
                          </div>
                          {% if data.empty_fields is not empty %}

                            <div class="col-xs-12 text-center">
                              <span>
                                <strong class="has-error">{{ data.empty_fields }}</strong>
                              </span>
                            </div>

                          {% else %}

                            <div class="col-xs-12 text-center">
                              <span>
                                <strong class="has-error">{{ data.user_exist }}</strong>
                              </span>
                            </div>

                          {% endif %}
                          <div class="col-md-12"><hr></div>
                          <div class="col-md-12 text-center">
                            ¿Ya tienes cuenta?
                          </div>
                          <div class="col-md-12 text-center">
                            <a class="btn btn-link text-transform-none" href="../auth">Inicia Sesión</a>
                          </div>
                      </form>
                  </div>
            </div>
        </div>
    </div>
    </div>
  </div>
{% endblock %}