{% extends 'index.html' %}

{% block content %}
    <div class='video-container'>
      <video autoplay height='720' loop poster='http://server3.metin2renacer.com/videos/imgs/airtaxi.jpg' width='1280'>
        <source src='http://server3.metin2renacer.com/videos/mp4/airtaxi.mp4' type='video/mp4'>
        <source src='http://server3.metin2renacer.com/videos/webm/airtaxi.webm' type='video/webm'>
      </video>
    </div>
    <div class='row full-height middle-xs center-xs relative up'>
      <div class='col-xs-12'>
        <div class='box white-text'>
          <img alt='logo' src='./images/icloud.png' width='200'>
          <h1 class='lato title no-margin'>Cloud Manager</h1>
          <p class='medium' id='slogan'>Frontend de administración de VPS en Linux</p>
        </div>
      </div>
      <nav class='fixed white-text navigation full-width top0' id='navigation'>
        <ul class='list-inline'>
          <li class='small'>
            <a href='#'>Cloud Manager</a>
          </li>
          <li class='small'>
            <a href='#'>Inicio</a>
          </li>
          <li class='small'>
            <a href='#plans'>Planes</a>
          </li>
          <li class='small'>
            <a href='{{ URL }}/users/signup'>Suscríbete</a>
          </li>
          <li class='small'>
            <a href='{{ URL }}/auth'>Login</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class='full-height'>
      <div class='row middle-xs center-xs top relative'>
        <div class='col-xs-12'>
          <div class='box'>
            <h3 class='h3'>Admin CM</h3>
            <p class='small'>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quaerat maxime, quia! Saepe tenetur ipsum officiis commodi soluta, nihil ab asperiores unde eaque, doloribus. Excepturi sint, nobis commodi voluptatem officiis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptas, iure omnis magnam labore. Sed maiores obcaecati quod aperiam expedita dignissimos accusantium beatae velit tempore asperiores! Voluptas optio quis, minus.
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class='row top50 relative center-xs'>
          {% for plan in data %}
            <div class='col-xs-12 col-md-4'>
              <div class='box' id="plans">
                <div class='columns'>
                  <ul class='price'>
                    <li class='header'>{{ plan.description }}</li>
                    <li class='grey'>${{ plan.price }}.00 USD/Mes</li>
                    <li>{{ plan.hard_disk }}GB Almacenamiento</li>
                    <li>{{ plan.ram }} RAM</li>
                    <li>{{ plan.processors }} CPU(S)</li>
                    <li class='grey'>
                      <a class='btn btn--green white-text' href='{{ URL }}/users/signup'>Suscríbete</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}